@function rem($pixels, $context: $main-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1rem;
  }

  @return $pixels / $context * 1rem;
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

// animations
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
